/* article{
    width: 80%;
} */
aside{
    background-color: rgb(202, 230, 220);
    margin-bottom: 1.25rem;
    height: auto;
}
aside ul{
    margin: 0.625rem;
}
aside ul li a{
    color: darkslategray;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.3rem;
}
aside ul li a:hover{
    text-decoration: underline;
}
/* article, aside{
    display: inline-block;
} */
footer{
    height: 6.25rem;
    background-color: rgb(192, 189, 189);
}
header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 6.25rem;
    padding: 0.625rem;
    background-image: linear-gradient(rgb(240, 231, 231), rgb(114, 114, 111), rgb(151, 156, 151));;
}
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 2.5rem;
    background-color: gray;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
/* nav ul li{
    display: inline-block;
} */
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: honeydew;
    font-weight: bold;
    padding: 5px;
    margin-top: 7px;
    display: block;
}
nav ul li a:hover{
    text-decoration: underline;
    color: gray;
    background-color: honeydew;
}
section{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 1.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

/*class styles*/
.articulo{
    width: 100%;
}
.btn{
    text-align: center;
    padding: 0.8em;
    display: inline-block;
    margin: 5px;
    font-size: 0.8em;
    text-decoration: none;
    font-weight:200;
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
}
.btn-primary{
    background-color: blue;
    color: aliceblue;
}
.btn-primary:hover{
    background-color: rgb(69, 69, 222);
}
.center{
    text-align: center;
}
.center ul li{
    display: inline-block;
}
.error-center{
    text-align: center;
}
.error-img{
    margin-top: 5px;
    margin-bottom: 5px;
}
.error-title{
    color: red;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}
.left{
    text-align: left;
}
.notice{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.625rem;
}
.notice a{
    text-decoration: none;
}
.notice a:hover{
    text-decoration: underline;
}
.right{
    text-align: right;
}
.text{
    max-width: 100%;
    color: black;
}
.title-articulo{
    font-size: x-large;
    color: blue;
    text-align: center;
    margin-bottom: 4px;
}

/*estilos de formulario*/
.form-control{
    height: 2.1em;
    border:rgb(208, 219, 208) solid 1px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
}
.form-group{

}
.form-label{
    font-size: 1.15em;
}
.form-control, .form-label{
    width: 100%;
}

.form-control,.form-group, .form-label{
    margin-bottom: 5px;
    display: block;
}
